fastapi
uvicorn[standard]
python-multipart

sqlalchemy
psycopg[binary]
alembic

pydantic
pydantic-settings
python-dotenv
email-validator

PyJWT
argon2-cffi
cryptography

PyMuPDF
opencv-python
numpy

httpx

pytest
pytest-asyncio